@font-face {
    font-family: "MiFuenteRDR"; /* Puedes cambiar el nombre */
    src: url("/assets/fonts/chinese-rocks.ttf") format("truetype");
}

body {
    font-family: "MiFuenteRDR", sans-serif;
  }